<div class="channel-container">
    <app-channel-messages></app-channel-messages>
    <div *ngIf="storageService.fileUrlTextarea " class="file-preview" appOutsideclick
        (outsideClick)="onOutsideClickFileUploadPreview($event)">
        <img *ngIf="storageService.isImage(storageService.filesTextarea?.item(0))"
            [src]="storageService.fileUrlTextarea" alt="File Preview">
        <img *ngIf="storageService.isPdf(storageService.filesTextarea?.item(0))" [src]="storageService.fileUrlTextarea"
            alt="PDF Preview" style="cursor: pointer;" (click)="openPdf(storageService.pdfUrl)"/>
        <p *ngIf="storageService.isPdf(storageService.filesTextarea?.item(0))">
            {{ storageService.fileNameTextarea }}</p>
        <div class="close-icon" (click)="storageService.abortUpload();clearFileInput()"></div>
    </div>
    <div *ngIf="isTagUserOpen" class="tag-user-list" appOutsideclick (outsideClick)="onOutsideClick()">
        <span *ngFor="let user of tagUserList">
            <span class="tag-user-selection" (click)="onUserClick(user)">
                {{ user }}
            </span>
        </span>
    </div>
    <div class="channel-message-wrapper form-group">
        <form #form="ngForm" name="form" (ngSubmit)="onSubmit(form)">
            <textarea class="channel-message-input form-control" autofocus name="message" #messageContent
                id="messageContent" [(ngModel)]="message.content" placeholder="Nachricht an #Entwicklerteam"
                minlength="2" required
                [ngClass]="{ 'focus-visible-invalid': !form.valid  && (form.touched || submitClick) && textareaBlur }"
                (keyup.enter)="onSubmit(form)" (blur)=" textareaBlur=false">
                </textarea>
            <div class="channel-message-icons">
                <div class="add-icon" (click)="triggerFileInput($event)"></div>
                <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" />

                <div class="icon-divider"></div>
                <div class="emoji-icon" (click)="toggleEmojiPickerEvent($event)"></div>
                <div class="tag-icon" (click)="tagUser($event)"></div>
            </div>
            <div class="send-icon" (click)="onSubmit(form)"></div>
        </form>
    </div>
    <div class="error-message" *ngIf="!form.valid && (form.touched || submitClick) && textareaBlur">Inhalt
        mit min. 1 Zeichen erforderlich !
    </div>
    <div class="error-message" *ngIf="storageService.fileSizeToBig">
        Die Datei ist zu groß !
    </div>
    <div class="error-message" *ngIf="storageService.wrongFileType && !threadService.isActive">
        falsche Dateitype ! Bitte lade ein jpg oder eine PDF hoch.
    </div>
    <div id="emojiPickerContainer">
        <emoji-mart [darkMode]=false #emojiPickerContainer [emojiTooltip]=true [showSingleCategory]=true
            [totalFrequentLines]="1" [enableSearch]=false [ngClass]="'emoji-container-default'" appOutsideclick
            (outsideClick)="onOutsideClick()" (emojiClick)="addChannelMessageEmoji($event)" *ngIf="isEmojiPickerVisible"
            set="google"></emoji-mart>
    </div>
</div>