@import "./../../../styles.scss";

:host {
    --emoji-mart-scroll-height: 90px;
}

.channel-container {
    position: relative;
    height: 100%;
}

.channel-message-input {
    @include dFlex();
    height: 145px;
    position: absolute;
    bottom: 40px;
    left: 35px;
    right: 35px;
    border: 1px solid $light-purple;
    border-radius: 30px;
    resize: none;
    padding: 20px 0 0 20px;
    font-size: 18px;
    caret-color: black;

    &:focus-visible {
        outline: 1px solid $purple3;
    }

    &:hover {
        border: 1px solid $purple2;
    }

    &::placeholder {
        font-size: 18px;
    }
}

.focus-visible-invalid {
    &:focus-visible {
        outline: 1px solid $error;
    }

    &:hover {
        outline: 1px solid $error;
        border: 1px solid $error;
    }

    border: 1px solid $error;
}

.icon-divider {
    width: 1px;
    background-color: $light-purple;
    height: 40px;
}

.channel-message-icons {
    position: absolute;
    bottom: 60px;
    left: 55px;
    gap: 5px;
    @include dFlex();
}

.add-icon {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url("/assets/img/icons/add_light.svg");

    &:hover {
        background-image: url("/assets/img/icons/add_hover.svg");
        background-color: $bg-color;
        border-radius: 50%;
    }

    &:active {
        background-image: url("/assets/img/icons/add_bold.svg");
    }
}

.emoji-icon {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url("/assets/img/icons/emoji_icon.svg");

    &:hover {
        background-image: url("/assets/img/icons/emoji_hover.svg");
        background-color: $bg-color;
        border-radius: 50%;
    }

    &:active {
        background-image: url("/assets/img/icons/emoji_bold.svg");
    }
}

.tag-icon {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url("/assets/img/icons/at_light.svg");

    &:hover {
        background-image: url("/assets/img/icons/at_hover.svg");
        background-color: $bg-color;
        border-radius: 50%;
    }

    &:active {
        background-image: url("/assets/img/icons/at_bold.svg");
    }
}

.send-icon {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url("/assets/img/icons/send.svg");
    position: absolute;
    bottom: 60px;
    left: calc(100% - 85px);

    &:hover {
        background-image: url("/assets/img/icons/send_hover.svg");
    }
}

.error-message {
    position: absolute;
    bottom: 5px;
    left: 35px;
    color: $error;
}

.emoji-container-default {
    position: absolute;
    bottom: 200px;
    left: 67px;
}

.close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    @include dFlex($jc: center);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/img/icons/close.svg");
    background-color: white;
    border-radius: 30px;

    &:hover {
        background-image: url("/assets/img/icons/close_hover.svg");
        background-color: $bg-color;
        border-radius: 50%;
    }
}

.file-preview {
    position: absolute;
    bottom: 215px;
    right: 35px;

    > img {
        border: 3px solid $purple2;
        border-radius: 30px;
        max-width: 250px;
        max-height: 250px;
        object-fit: contain;
        box-shadow: -8px 6px 16px 0px #00000054;
    }
}

.highlight-user {
    color: $purple3;
}

.tag-user-list {
    width: 250px;
    overflow-y: scroll;
    gap: 8px;
    font-size: 18px;
    max-height: 210px;
    background-color: $purple1;
    color: white;
    padding: 15px;
    border-radius: 30px;
    position: absolute;
    bottom: 210px;
    left: 35px;
    @include dFlex();
    flex-direction: column;
    box-shadow: -8px 6px 16px 0px #00000054;

    .tag-user-selection {
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }
}

@media screen and (max-width: 600px) {
    .channel-message-input {
        bottom: 20px;
        left: 20px;
        right: 20px;
    }

    .channel-message-icons {
        bottom: 35px;
        left: 24px;
    }

    .send-icon {
        bottom: 35px;
        left: calc(100% - 75px);
    }
}
