<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/"></div>
        <div class="title">
            <h1>Konto erstellen</h1>
            <h3>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</h3>
        </div>
        <form [formGroup]="registerForm">
            <div class="form-group">
                <div class="input-container">
                    <img src="../../assets/img/login/person.png">
                    <input type="text" placeholder="Name und Nachname" formControlName="name">
                </div>
                <div class="error"
                    *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
                    <p *ngIf="registerForm.controls['name'].errors?.['required']">Bitte Name und Nachname eingeben</p>
                    <p *ngIf="registerForm.controls['name'].errors?.['minlength']">mindestens 5 Zeichen</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <img src="../../assets/img/login/email.png">
                    <input type="email" placeholder="E-Mail Adresse" formControlName="email">
                </div>
                <div class="error"
                    *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
                    <p *ngIf="registerForm.controls['email'].errors?.['required']">Bitte eine gültige E-Mail-Adresse
                        eingeben</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <img src="../../assets/img/login/{{ showPassword ? 'unlock.png' : 'lock.png'}}"
                        (click)="togglePasswordVisibility()">
                    <input [type]="showPassword ? 'text' : 'password'" placeholder="Passwort"
                        formControlName="password">
                </div>
                <div class="error">
                    <p
                        *ngIf="registerForm.controls['password'].errors?.['required'] && registerForm.controls['password'].touched">
                        Bitte gültiges Passwort eingeben</p>
                    <p
                        *ngIf="registerForm.controls['password'].errors?.['minlength'] && registerForm.controls['password'].touched">
                        mindestens 8 Zeichen</p>
                </div>
            </div>
            <div class="login-btns">
                <button type="submit" (click)="register()" routerLink="/register/chooseavatar">weiter</button>
            </div>
        </form>
    </main>
    <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacypolicy">Datenschutz</a>
    </footer>
</section>