<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/"></div>
        <div class="title">
            <h1>Konto erstellen</h1>
            <h3>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</h3>
        </div>
        <form [formGroup]="registerForm" autocomplete="on">
            <div class="form-group">
                <div class="input-container">
                    <img src="../../assets/img/login/person.png">
                    <input #nameInput type="text" minlength="5" placeholder="Name und Nachname" formControlName="name"
                        autocomplete="name" [ngClass]="{'first-focus': firstFocus}" (input)="onInput()">
                </div>
                <div class="error">
                    <p *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].dirty">Bitte Name
                        und Nachname eingeben, mindestens 5 Zeichen</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <img src="../../assets/img/login/email.png">
                    <input type="email" placeholder="E-Mail Adresse" formControlName="email" autocomplete="email"
                        pattern="^(http(s){0,1}:\/\/.){0,1}[\-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([\-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$"
                        [ngClass]="{'first-focus': firstFocus}" (input)="onInput()">
                </div>
                <div class="error">
                    <p *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].dirty">Bitte eine
                        gültige E-Mail-Adresse eingeben</p>
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <img src="../../assets/img/login/{{ showPassword ? 'unlock.png' : 'lock.png'}}"
                        (click)="togglePasswordVisibility()">
                    <input [type]="showPassword ? 'text' : 'password'" placeholder="Passwort" formControlName="password"
                        autocomplete="current-password" [ngClass]="{'first-focus': firstFocus}" (input)="onInput()">
                </div>
                <div class="error">
                    <p *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].dirty">
                        mindestens 8 Zeichen</p>
                    <p *ngIf="errorMessage">{{ errorMessage }}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <input type="checkbox" formControlName="privacyCheck">
                    <span>Ich stimme der <div><a routerLink="/privacypolicy">Datenschutzerklärung</a>zu.</div></span>
                </div>
                <div class="error">
                    <p
                        *ngIf="registerForm.controls['email'].valid && registerForm.controls['password'].valid && registerForm.controls['name'].valid && registerForm.controls['privacyCheck'].invalid">
                        Bitte stimme der Datenschutzerklarung zu</p>
                </div>
            </div>
            <div class="login-btns">
                <button type="submit" (click)="continue()" [disabled]="registerForm.invalid">weiter</button>
            </div>
        </form>
    </main>
    <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacypolicy">Datenschutz</a>
    </footer>
</section>