@import "./../../../../styles.scss";

header {
    @include dFlex($jc: space-between);

    .header-search {
        @include dFlex($jc: space-between);
        padding: 17.5px 45px;
        width: 100%;
        max-width: 989px;
        height: 70px;
        background-color: #FFFFFF;
        border-radius: 42px;
    }

    .header-logo {
        padding-left: 20px;
    }

    .header-search {
        margin: 0 20px;

        input {
            width: 100%;
            height: 33px;
            outline: none;
            border: none;
            font: 400 24px "Nunito";
            color: #686868;
            caret-color: black;
        }

        img {
            border-radius: 50% 50%;
            object-fit: cover;
            padding: 4px;
            cursor: pointer;

            &:hover {
                background: rgba(0.1, 0.1, 0.1, 0.05);
            }
        }
    }

    .user-menu {
        @include dFlex($jc: space-between);
        gap: 20px;
        cursor: pointer;

        &:hover {
            color: $purple3;

            .menu-btn {
                background-image: url("/assets/img/header/menu-arrow-hovered.svg");
            }
        }

        span {
            font: 700 32px "Nunito";
            text-wrap: nowrap;
        }

        .profile-picture {
            position: relative;
            @include dFlex();

            img {
                border-radius: 50% 50%;
                width: 70px;
                height: 70px;
            }

            .status {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 16.67px;
                width: 16.67px;
                border: 2px solid #FFFFFF;
                border-radius: 50% 50%;
            }
        }

        .menu-btn {
            background-image: url("/assets/img/header/menu-arrow.svg");
            height: 30px;
            width: 30px;
        }

    }
}