<header>
    <div class="header-logo">
        <img src="/assets/img/header/Logo.svg" alt="">
    </div>
    <div class="header-search">
        <input type="text" placeholder="[channelName] durchsuchen">
        <img src="/assets/img/header/search-btn.svg" alt="">
    </div>
    <div class="user-menu">
        <span>Frederik Beck</span>
        <div class="profile-picture">
            <img src="/assets/img/header/avatar-dummy.svg" alt="">
            <div class="status"></div>
        </div>
        <img class="menu-btn" src="/assets/img/header/menu-arrow.svg" alt="">
    </div>
</header>