<div #scroll id="messageContainer" ref={messageContainer} class="channel-conversation-container">
@if (channelService.messages.length != 0 || channelService.channelMsg) {
    <div class="divider-container">
        <div class="divider">
            <span>Dienstag, 14 Januar</span>
        </div>
    </div>
    <div *ngFor="let message of channelService.messages; let i = index; let isEven = even; let isLast = last">
        <div [ngClass]="{ 'inverted-message': isEven }" class="single-message-container">
            <div [ngClass]="{ 'interaction-container-inverted': isEven }" class="interaction-container">
                <div (click)="toggleEmojiPicker(i);toggleEmojiPickerEvent($event)" class="add-reaction-icon"></div>
                <ngx-emoji [style]="{display:'flex',cursor:'pointer'}" emoji="santa" set="twitter"></ngx-emoji>
            </div>
            <div class="profile-picture">
                <img [src]="message.profilePicture" />
            </div>
            <div class="message-wrapper">
                <div class="message-head">
                    <div class="message-info">
                        <span (click)="openDialogUserInfo()">{{ message.name }}</span>
                        <div class="message-timestamp">
                            <span>{{ message.timeStamp }}</span>
                        </div>
                    </div>
                </div>
                <div class="message">
                    <span>{{ message.message }}</span>
                    <div id="emojiPickerContainer">
                        <emoji-mart [darkMode]=false #emojiPickerContainer
                            [style]="{ position: 'absolute', bottom: '-289px', right: '20px','z-index': '999' }"
                            (emojiClick)="addEmoji($event,i)" *ngIf="showEmojiPickerArray[i]"
                            set="twitter"></emoji-mart>
                    </div>
                </div>
                <div class="selected-emoji">
                    <span *ngFor="let emojiCount of message.emojiCounts">
                        {{ emojiCount.emoji }} {{ emojiCount.count }}
                    </span>
                </div>
                <div *ngIf="channelService.channelMsg" class="message-reply-wrapper">
                    <div class="message-replies">
                        <span (click)="showThreadBar()">{{ message.repliesCount }} Antworten</span>
                    </div>
                    <div class="reply-timestamp">
                        <span>Letzte Antwort {{ message.lastReplyTimeStamp }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isLast" class="divider-container">
            <div class="divider">
                <span>Heute</span>
            </div>
        </div>
    </div>
} @else if (channelService.messages.length == 0 && channelService.messagesLoaded == true) {
    <div class="wrapper-start-msg">
        <div class="user-info">
            <img [src]="channelService.privateMsgData['profilePicture']" alt="">
            <span>{{channelService.privateMsgData['name']}}</span>
        </div>
        <div class="start-text">
            <span>Diese Unterhaltung findet nur zwischen <span class="name-clickable">&#64;{{channelService.privateMsgData['name']}}</span> und dir statt.</span>
        </div>
    </div>
}


</div>