<div #scroll id="messageContainer" ref={messageContainer} class="channel-conversation-container">
    <div class="divider-container">
        <div class="divider">
            <span>Dienstag, 14 Januar</span>
        </div>
    </div>
    <div *ngFor="let message of messages; let i = index; let isEven = even; let isLast = last">
        <div [ngClass]="{ 'inverted-message': isEven }" class="single-message-container">
            <div class="profile-picture">
                <img [src]="message.profilePicture" />
            </div>
            <div class="message-wrapper">
                <div class="message-head">
                    <div class="message-info">
                        <span (click)="openDialogUserInfo()">{{ message.userName }}</span>
                        <div class="message-timestamp">
                            <span>{{ message.timeStamp }}</span>
                        </div>
                    </div>
                </div>
                <div class="message">
                    <span>{{ message.messageText }}</span>
                </div>
                <div class="message-reply-wrapper">
                    <div class="message-replies">
                        <span (click)="showThreadBar()">{{ message.repliesCount }} Antworten</span>
                    </div>
                    <div class="reply-timestamp">
                        <span>Letzte Antwort {{ message.lastReplyTimeStamp }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isLast" class="divider-container">
            <div class="divider">
                <span>Heute</span>
            </div>
        </div>
    </div>
</div>