@import "./../../../../../styles.scss";

.menu-container {
    padding: 30px;
    gap: 15px;
    font: 600 24px "Nunito";

    div {
        @include dFlex($jc: center);
        width: 222px;
        height: 53px;
        cursor: pointer;
        border-radius: 100px;
        outline: none;

        &:hover {
            color: $purple3;
            background-color: $bg-color;
        }
    }
}
