<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/register"></div>
        <div class="title">
            <h1>Wähle deinen Avatar</h1>
        </div>
        <div class="avatars">
            <img src="../../assets/img/login/default_profil_img.png">
        </div>
        <h3>Var Namen vom Konto erstellen</h3>
        <span>Aus der Liste wählen</span>
        <div>
            <span>avatars zur auswahl</span>
        </div>
        <div class="upload">
            <span>eigenes Bild verwenden </span>
            <button>Datei hochladen</button>
        </div>
        <div class="login-btns">
            <button routerLink="/">weiter</button>
        </div>
    </main>
    <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacypolicy">Datenschutz</a>
    </footer>
</section>