<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/register"></div>
        <div class="title">
            <h1>Wähle deinen Avatar</h1>
        </div>
        <div class="avatar">
            <img [src]="selectedAvatar">
        </div>
        <h3>Var Namen vom ´Konto erstellen´</h3>
        <span>Aus der Liste wählen</span>
        <div class="avatar-list">
            <img *ngFor="let avatar of avatars" [src]="avatar" (click)="selectAvatar(avatar)"
                [ngClass]="{'selected': avatar === selectedAvatar}">
        </div>
        <div class="upload">
            <span>eigenes Bild verwenden </span>
            <button>Datei hochladen</button>
        </div>
        <div class="login-btns">
            <button routerLink="/">weiter</button>
        </div>
    </main>
    <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacypolicy">Datenschutz</a>
    </footer>
</section>