@import "./../../styles.scss";

section {
    position: relative;
    height: 100vh;
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 75px;
    right: 63px;
    margin-top: 55px;
    height: 70px;
    @include dFlex($jc: space-between, $ai: center);
    div:nth-child(1) {
        @include dFlex($ai: center);
        img {
            width: 70px;
            height: 70px;
            margin-right: 16px;
        }
    }
    div:nth-child(2) {
        @include dFlex($ai: end);
        flex-direction: column;
        span {
            font-size: 1.125rem;
            margin: 0 12px 20px 0;
        }
    }
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 606px;
    margin: 0 auto;
    @include dFlex($jc: center, $ai: center);
    flex-direction: column;
    text-align: center;
    background-color: $white;
    opacity: 0;
    border-radius: 30px;
    padding: 50px;
    animation: fadein 0.5s ease-in forwards 1.5s;
}

.title {
    @include dFlex($jc: center, $ai: center);
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    h1 {
        font-size: 2.875rem;
        font-weight: 700;
        color: $purple1;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 1.25rem;
        color: $black;
    }
}

form {
    width: 100%;
    a:hover{
        scale: 1.05;
        border: none;
        background-color: $bg-color;
    }
}

.form-group {
    width: 100%;
    height: 60px;
    @include dFlex($ai: center);
    margin-bottom: 40px;
    position: relative;

    input.ng-valid {
        &:hover {
            border-color: $green;
        }
        &:focus {
            outline: none;
        }
        border-color: $green;
    }

    input.ng-invalid {
        &:focus {
            outline: none;
            border-color: $error;
        }
    }

    input {
        width: 100%;
        height: 100%;
        border: solid 1px transparent;
        border-radius: 100px;
        background-color: $bg-color;
        padding: 15px 25px 15px 50px;
        font-size: 1.125rem;
        caret-color: auto;
        cursor: pointer;
        &:hover {
            border-color: $text-gray;
            outline: none;
        }

        &:focus {
            outline: none;
            border-color: $purple1;
            cursor: text;
        }
    }
    img {
        position: absolute;
        left: 16px;
        width: 24px;
        height: 24px;
        color: $black;
    }
}

span {
    @include dFlex($jc: center);
    width: 100%;
    font-size: 1.125rem;
    margin: 33px 0 43px 0;
    hr {
        width: 100%;
    }
    p {
        margin: 0 15px;
    }
}

.login-btns {
    width: 100%;
    @include dFlex($jc: center);
    gap: 30px;
    margin-top: 40px;
    :nth-child(1) {
        background-color: $purple1;
        color: $white;
        &:hover {
            background-color: $purple2;
        }
    }
    :nth-child(2) {
        background-color: $white;
        color: $purple1;
        border: 1px solid $purple1;
        &:hover {
            background-color: $purple1;
            color: $white;
        }
    }
}

.google-login {
    @include dFlex($jc: center, $ai: center);
    width: 100%;
    font-weight: 400;
    background-color: $bg-color;
    border: 1px solid transparent;
    color: $purple1;
    img {
        width: 38px;
        height: 38px;
        margin-right: 16px;
    }
    &:hover {
        scale: 1.005;
        font-weight: 700;
        border: 1px solid $purple1;
    }
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.175s ease-out;
    text-wrap: nowrap;
}

footer {
    position: absolute;
    bottom: 48px;
    width: 100%;
    @include dFlex($jc: center, $ai: center);
    gap: 18px;
}

a {
    text-decoration: none;
    font-family: "Figtree" !important;
    font-size: 1.125rem;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 40px;
    color: $purple2;
    cursor: pointer;
    &:hover {
        border: 1px solid $text-gray;
        color: $purple1;
        font-weight: 500;
    }
}

.intro-bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient($purple2, $purple1);
    animation: fadeOut 1s ease-in-out forwards 1s;
    z-index: 1;
}

.intro-logo-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 187px;
    height: 184px;
    background-image: url("/assets/img/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: topLeft 1s ease-in-out forwards 1s;
    z-index: 2;
}

.back-arrow {
    position: absolute;
    top: 60px;
    left: 45px;
    background-image: url("/assets/img/login/arrow_back.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
        transform: scale(1.6);
        background-image: url("/assets/img/login/arrow_back_hover.png");
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes topLeft {
    0% {
        opacity: 1;
        top: 50%;
        left: 50%;
        width: 187px;
        height: 184px;
    }
    90% {
        opacity: 0.95;
    }
    100% {
        opacity: 0;
        top: 0;
        left: 0;
        transform: translate(115%, 90%);
        width: 68px;
        height: 68px;
        z-index: -1;
    }
}
