@import "./../../styles.scss";

section {
    position: relative;
    height: 100vh;
    width: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 75px;
    right: 63px;
    margin-top: 55px;
    @include dFlex($jc: space-between, $ai: center);
    div:nth-child(1) {
        @include dFlex($ai: center);
        img {
            width: 70px;
            height: 70px;
            margin-right: 16px;
        }
    }
    div:nth-child(2) {
        @include dFlex($ai: end);
        flex-direction: column;
        span {
            font-size: 1.125rem;
            margin: 0 12px 20px 0;
        }
    }
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 48px;
    width: 100%;
    @include dFlex($jc: center, $ai: center);
    gap: 18px;
}

a {
    font-family: "Figtree" !important;
    font-size: 1.125rem;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 40px;
    color: $purple2;
    cursor: pointer;
    &:hover {
        border: 1px solid $text-gray;
        color: $purple1;
    }
}

.intro-bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient($purple2, $purple1);
    animation: fadeOut 1s ease-in-out forwards 1s;
    z-index: 1;
}

.intro-logo-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 187px;
    height: 184px;
    background-image: url("/assets/img/Logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: topLeft 1s ease-in-out forwards 1s;
    z-index: 2;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes topLeft {
    0% {
        opacity: 1;
        top: 50%;
        left: 50%;
        width: 187px;
        height: 184px;
    }
    90% {
        opacity: 0.95;
    }
    100% {
        opacity: 0;
        top: 0;
        left: 0;
        transform: translate(120%, 100%);
        width: 68px;
        height: 68px;
        z-index: -1;
    }
}
