@import "../../../styles.scss";
@import "../login.component.scss";

section {
    overflow: hidden;
}

main {
    height: fit-content;
    max-width: 698px;
    padding: 40px 67px;
    animation: fadein 0.2s ease-in forwards 0.175s;
}

.login-btns {
    @include dFlex($jc: end);
    margin-top: 24px;
}

span {
    margin: 0;
    color: $text-gray;
    font-size: 1.25rem;
}

@media screen and (max-width: 480px) {
    span {
        font-size: 1.125rem;
        padding: 0 16px;
    }
}
