<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/"></div>
        <div class="title">
            <h1>Passwort zurücksetzen</h1>
            <h3>Bitte geben Sie Ihre E-Mail-Adresse ein.</h3>
        </div>
        <form autocomplete="on">
            <div class="form-group">
                <div class="input-container">
                    <img src="../../assets/img/login/email.png">
                    <form [formGroup]="resetPassword" autocomplete="off">
                        <input formControlName="email" type="email" placeholder="E-Mail Adresse" autocomplete="email"
                            pattern="^(http(s){0,1}:\/\/.){0,1}[\-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([\-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$">
                    </form>
                </div>
            </div>
        </form>
        <span>Wir senden Ihnen eine E-Mail, über die <br>
            Sie Ihr Passwort ändern können.</span>
        <div class="login-btns">
            <button type="submit" (click)="sendEmail()" [disabled]="resetPassword.invalid">E-Mail senden</button>
        </div>
    </main>
    <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacypolicy">Datenschutz</a>
    </footer>
    <div class="success-popup" [@slideInOut]="popupState">
        <img src="../../assets/img/login/send.png"><span>E-Mail gesendet</span>
    </div>
</section>