<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/resetpassword"></div>
        <div class="title">
            <h1>Passwort zurücksetzen</h1>
        </div>
        <form [formGroup]="keyForm" autocomplete="on">
            <div class="form-group">
                <div class="input-container">
                    <input formControlName="key" type="password" placeholder="Neues Passwort"
                        autocomplete="new-password"
                        [ngClass]="{ 'is-valid': keyForm.get('key')?.valid, 'is-invalid': keyForm.get('key')?.invalid && keyForm.get('key')?.touched }">
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <input formControlName="repeatedKey" type="password" placeholder="Neues Passwort bestätigen"
                        autocomplete="new-password"
                        [ngClass]="{ 'is-valid': keyForm.get('repeatedKey')?.valid, 'is-invalid': keyForm.get('repeatedKey')?.invalid && keyForm.get('repeatedKey')?.touched }">
                </div>
            </div>
        </form>
        <div class="login-btns">
            <button type="submit" (click)="confirmPassword()" [disabled]="isDisabled">Passwort ändern</button>
        </div>
    </main>
    <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacypolicy">Datenschutz</a>
    </footer>
    <div class="success-popup" [@slideInOut]="popupState">
        <span>Anmelden</span>
    </div>
</section>