@import "../../../styles.scss";
@import "../login.component.scss";

main {
    max-width: 698px;
    padding: 40px 67px;
}

.login-btns {
    @include dFlex($jc: end);
    margin-top: 0;
}

input.ng-valid{
    border-color: transparent!important;
}

form{
    @include dFlex($jc: center);
    flex-direction: column;
}

.form-group {
    width: 80%;
}
