@import "../../../styles.scss";
@import "../login.component.scss";


main {
    max-width: 698px;
    padding: 40px 67px;
    animation: fadein 0.5s ease-in forwards 0.175s;
}

.login-btns {
    @include dFlex($jc: end);
    margin-top: 0;
}

form{
    @include dFlex($jc: center);
    flex-direction: column;
}

.form-group {
    width: 80%;
}
