<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/resetpassword"></div>
        <div class="title">
            <h1>Passwort zurücksetzen</h1>
        </div>
        <form autocomplete="off">
            <div class="form-group">
                <div class="input-container">
                    <input type="email" placeholder="Neues Passwort">
                </div>
            </div>
            <div class="form-group">
                <div class="input-container">
                    <input type="email" placeholder="Neues Passwort bestätigen">
                </div>
            </div>
        </form>
        <div class="login-btns">
            <button routerLink="/" disabled>Passwort ändern</button>
        </div>
    </main>
    <footer>
        <a routerLink="/imprint">Impressum</a>
        <a routerLink="/privacypolicy">Datenschutz</a>
    </footer>
</section>