@import "../../styles.scss";

section {
    min-height: 100dvh;
    padding: 0 16px;
}

header {
    padding: 55px 70px;
    @include dFlex($jc: space-between, $ai: center);
    div:nth-child(1) {
        @include dFlex($ai: center);
        img {
            width: 70px;
            height: 70px;
            margin-right: 16px;
        }
        h1 {
            color: $black;
            font-size: 1.25rem;
        }
    }
}

main {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    padding: 70px 70px;
    background-color: $white;
    border-radius: 30px;
}

.back-arrow {
    position: absolute;
    top: 45px;
    right: 45px;
    background-image: url("/assets/img/login/arrow_back.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
        transform: scale(1.6);
        background-image: url("/assets/img/login/arrow_back_hover.png");
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    color: $purple3;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: $purple3;
}

a {
    color: $purple3;
    text-decoration: none;
    font-weight: 700;
    word-wrap: break-word;
    &:hover {
        color: $purple1;
    }
}

ul {
    padding-left: 20px;
    li {
        margin: 8px 0;
    }
}

@media screen and (max-width: 600px) {
    header {
        @include dFlex($jc: center, $ai: center);
        padding: 40px 0;
    }

    main {
        padding: 70px 40px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 460px) {
    main {
        padding: 70px 20px;
    }
    h1 {
        font-size: 1.5rem;
    }
}
