@import "../../styles.scss";

section {
    height: 100vh;
    padding: 0 70px;
}

header {
    padding: 55px 0;
    @include dFlex($jc: space-between, $ai: center);
    div:nth-child(1) {
        @include dFlex($ai: center);
        img {
            width: 70px;
            height: 70px;
            margin-right: 16px;
        }
        h1 {
            color: $black;
            font-size: 1.25rem;
        }
    }
}

main {
    position: relative;
    width: 100%;
    padding: 40px 70px;
    background-color: $white;
    border-radius: 30px;
}

.back-arrow {
    position: absolute;
    top: 45px;
    right: 45px;
    background-image: url("/assets/img/login/arrow_back.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
        transform: scale(1.6);
        background-image: url("/assets/img/login/arrow_back_hover.png");
    }
}

.title {
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    color: $purple3;
}
