<div #addUser class="main-container">
    <div #icon class="channel-close-icon" mat-dialog-close [mat-dialog-close]="true" *ngIf="!stateEditChannelDialogOpenMobile"></div>
    <div class="headline">
        <span>Mitglieder</span>
    </div>
    <div class="member-list-container">
         @for (user of channelService.currentChannelUsers; track $index) {
            <div class="single-member" (click)="getOtherUserData(user)">
                <img referrerpolicy="no-referrer" [src]="user.profilePicture">
                <div [ngClass]="getDmStatus(user.isLoggedIn)" class="online-indicator"></div>
                <div class="member-name">
                    <span>{{user.name}}</span>
                    <span *ngIf="userService.currentUser == user.id">(Du)</span>
                </div>
            </div>
         }
        <div (click)="openDialogAddUser()" class="add-member-container">
            <div class="add-member-icon"></div>
            <span>Mitglieder hinzufügen</span>
        </div>
    </div>
</div>