@import './../../../../styles.scss';

div{
    @include dFlex();
    flex-direction: column;
    gap: 20px;
    padding: 30px;

    input{
        width: 100%;
        padding: 15px 20px;
        outline: none;
        border: 1px solid $light-purple;
        border-radius: 30px;
        caret-color: auto;
        font: 500 18px "Nunito";
    }

    .verify-btn{
        padding: 12px 25px;
        border-radius: 50px;
        color: #ffffff;
        background-color: $purple1;
        cursor: pointer;

        &:hover {
            background-color: $purple2;
        }

        &:active {
            background-color: $purple1;
        }
    }
}