<section>
    <header>
        <div>
            <img src="../../assets/img/Logo.png" alt="Logo">
            <h1>DaBubble</h1>
        </div>
    </header>
    <main>
        <div class="back-arrow" routerLink="/"></div>
        <h1>Impressum</h1>
        <p>
            Vorname Nachname<br>
            Straße, Hausnummer<br>
            Postleitzahl, Stadt<br>
            Land<br>
        </p><br>
        <h2>Kontakt</h2>
        <p>
            E-Mail: <a href="mailto:">`email adresse`</a><br>
            Telefon: <a href="tel:">`000000000`</a><br>
        </p>
    </main>
</section>