<div class="profile-container">
    <div class="profile-head">
        <span>Profil</span>
        <div mat-dialog-close="">
            <img src="/assets/img/header/close.svg" alt="">
        </div>
    </div>
    <div class="profile-picture">
        <img [src]="userService.userInfo.profilePicture" alt="">
    </div>
    @if (editMode == false) {
    <div class="profile-edit-container">
        <div class="profile-edit">
            <span>{{userService.userInfo.name}}</span>
            @if (profileEditable) {<a (click)="editMode=true">Bearbeiten</a>}
        </div>
        <div class="user-status">
            <div [ngClass]="getUserStatus('div')" class="status"></div>
            <span [ngClass]="getUserStatus('text')">{{getStatusText()}}</span>
        </div>
    </div>
    <div class="profile-email-container">
        <div class="email-icon">
            <img src="/assets/img/profile/mail.svg" alt="">
        </div>
        <div class="email-content">
            <span>E-mail Adresse</span>
            <a [href]="'mailto:'+ userService.userInfo.email">{{userService.userInfo.email}}</a>
        </div>
    </div>}
    @if (editMode == true) {
    <div class="edit-user-form-container">
        <form (ngSubmit)="userService.updateUserProfile(updateUserForm)" [formGroup]="updateUserForm" autocomplete="off">
            <div class="input-container">
                <div>
                    <img src="/assets/img/profile/account-circle.svg" alt="">
                    <span>Vollständiger Name</span>
                </div>
                <input [placeholder]="userService.userInfo.name" type="text" formControlName="name">
            </div>
            <div class="input-container">
                <div>
                    <img src="/assets/img/profile/mail.svg" alt="">
                    <span>E-mail Adresse</span>
                </div>
                <input [placeholder]="userService.userInfo.email" type="email" formControlName="email"
                pattern="^(http(s){0,1}:\/\/.){0,1}[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([\-a-zA-Z0-9@:%_\+.~#?&//=]*)$">
            </div>

        </form>
        <div class="edit-user-btns">
            <div class="cancel-btn" (click)="editMode=false">
                Abbrechen
            </div>
            <div class="save-btn" (click)="checkUpdateInput()" >
                Speichern
            </div>
        </div>
    </div>
    }

</div>