@import "./../../../../styles.scss";


.main-container {
    padding: 40px;
    @include dFlex($ai: flex-start);
    flex-direction: column;
    gap: 20px;
    min-width: 710px;
}

.headline {
    >span {
        font-size: 24px;
        font-weight: 700;
    }
}

form {
    width: 100%;
    @include dFlex($ai: flex-start);
    flex-direction: column;
    gap: 20px;

    >label {
        font-size: 18px;

        >span {
            color: $purple3;

        }
    }

}

.button-container {
    width: 100%;
    @include dFlex($jc: flex-end);
}

.button-container {
    >button {
        font-size: 18px;
        cursor: pointer;
        background-color: $purple1;
        color: white;
        border-radius: 25px;
        padding: 12px 25px;
        border: none;

        &:hover {
            background-color: $purple2;
        }
    }
}

.selected-user-input {
    @include dFlex($ai: flex-start);
    flex-direction: column;
    gap: 20px;
    width: 100%;

    >input {
        cursor: pointer;
        width: 100%;
        height: 60px;
        border-radius: 40px;
        padding: 18px 20px;
        border: 1px solid $light-purple;
        font-size: 18px;
        caret-color: blackd;

        &:hover {
            border: 1px solid $purple2;
        }

        &:focus-visible {
            outline: 1px solid $purple3;
        }

        &::placeholder {
            font-size: 18px;
        }
    }
}

.channel-close-icon {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    @include dFlex($jc: center);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/img/icons/close.svg");

    &:hover {
        background-image: url("/assets/img/icons/close_hover.svg");
        background-color: $bg-color;
        border-radius: 50%;
    }
}