<div class="main-container">
    <div class="channel-close-icon-mobile"><button mat-dialog-close [mat-dialog-close]="true"></button></div>
    <div class="channel-close-icon" mat-dialog-close [mat-dialog-close]="true">
    </div>
    <div class="headline">
        <span>Leute hinzufügen</span>
    </div>
    <form class="radio-container" #addUserInputs="ngForm" name="addUserInputs">
        <label>
            <input type="radio" name="option" [(ngModel)]="specificUser" [value]="false"
                [checked]="specificUser == false">
            Alle Mitglieder von <span>EntwicklerTeam</span> hinzufügen
        </label>
        <label>
            <input type="radio" name="option" [(ngModel)]="specificUser" [value]="true"
                [checked]="specificUser == true">
            Bestimmte Leute hinzufügen
        </label>
        <div class="selected-user-input" *ngIf="specificUser === true">
            <div class="search-wrapper">
                @for (user of selectedUser; track $index) {
                <div class="user-wrapper">
                    <img [src]="user.img" alt="">
                    <span>{{user.user}}</span>
                    <div class="deleteUser" (click)="removeUserFromSelection(user)"></div>
                </div>
                }
                <input type="text" autocomplete="off"  #trigger name="specificUserInput"
                    [matMenuTriggerFor]="menu" (input)="searchUser()" (click)="$event.stopPropagation()" (input)="getMenu()"  placeholder="Name eingeben"
                    [(ngModel)]="inputs.specificUser">
            </div>
        </div>
        <div class="button-container">
            <button (click)="onSubmit()" [mat-dialog-close]="true">
                Erstellen
            </button>
        </div>
        <mat-menu #menu="matMenu" hasBackdrop="false">
            @if (userList.length != 0) {
            <div class="button-wrapper">
                @for (user of userList; track $index) {
                <div class="user-wrapper" (click)="pushToSelection(user)">
                    <img [src]="user.img" referrerpolicy="no-referrer" alt="">
                    <span>{{user.user}}</span>
                </div>
                }
            </div>
            }
        </mat-menu>
    </form>
</div>