.box-radius .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px;
}

.box-radius-left-corner .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0 30px 30px 30px;
}

.box-radius-right-corner .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 0 30px 30px;
}

.box-shadow .mat-mdc-dialog-container .mdc-dialog__surface {
    box-shadow: 0px 6px 10px 0px #00000033;
}

.user-menu .mat-mdc-dialog-container .mdc-dialog__surface {
    position: absolute;
    width: 282px;
    height: 181px;
    top: 126px;
    right: 26px;
}

.show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: fit-content;
    top: 126px;
    right: 26px;
}

.show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: fit-content;
}

.add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 415px;
    height: fit-content;
}

.add-user .mat-mdc-dialog-container .mdc-dialog__surface {
    width: fit-content;
    height: fit-content;
}

@media screen and (max-width: 960px) {
    .user-menu .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
        right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .user-menu .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 398px;
        top: 100px;
    }
    .show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 398px;
    }
}

@media screen and (max-width: 600px) {
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
    }
}

@media screen and (max-width: 480px) {
    .user-menu .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 100vw;
        width: 100vw;
        height: fit-content;
        top: unset;
        bottom: 0;
        right: 0;
        border-radius: 30px 30px 0 0;
        box-shadow: 6px 0px 10px 0px #00000033;

        .menu-container {
            align-items: flex-start;
            gap: 15px;
            padding-bottom: 30px;
            div:nth-child(1) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            div:nth-child(2),
            div:nth-child(3) {
                height: 50px;
                margin-left: 26px;
                button {
                    padding: 10px 30px !important;
                    img {
                        display: block !important;
                    }
                }
            }
        }
    }

    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface {
        width: 90vw;
    }
}
