.cdk-global-overlay-wrapper {
    padding: 24px;

    .cdk-overlay-pane {
        max-width: 90vw;
    }
}

.box-radius .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px;
}

.box-radius-left-corner .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0 30px 30px 30px;
}

.box-radius-right-corner .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30px 0 30px 30px;
}

.box-shadow .mat-mdc-dialog-container .mdc-dialog__surface {
    box-shadow: 0px 6px 10px 0px #00000033;
}

/* Mat Menu */
.mat-mdc-menu-panel {
    min-width: 335px !important;
    border-radius: 0px 20px 20px 20px !important;
}

.mat-mdc-menu-content {
    min-width: 335px !important;
    padding: 0px 0px !important;
    .button-wrapper {
        padding: 10px 20px;
    }
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08) !important;
}

/* definitions of each dialogs */
.user-menu .mat-mdc-dialog-container .mdc-dialog__surface {
    position: absolute;
    width: 282px;
    height: 181px;
    top: 120px;
    right: 26px;
}

.show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: fit-content;
    top: 120px;
    right: 26px;
}

.show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: fit-content;
}

.add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 415px;
    height: fit-content;
}

.add-user .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 514px;
    height: fit-content;
}

.add-new-channel .mat-mdc-dialog-container .mdc-dialog__surface,
.edit-channel .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 872px;
}

@media screen and (max-width: 1440px) {
    .add-new-channel .mat-mdc-dialog-container .mdc-dialog__surface,
    .edit-channel .mat-mdc-dialog-container .mdc-dialog__surface {
        position: absolute;
        max-width: 872px;
        width: 90%;
        height: fit-content;
        top: 220px;
        left: 50%;
        transform: translate(-50%, 0%);
        border-radius: 30px;
    }
}

@media screen and (max-width: 960px) {
    .user-menu .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
        right: 24px;
    }
}

@media screen and (max-width: 768px) {
    .user-menu .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 398px;
        top: 100px;
    }
    .show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 398px;
    }
}

@media screen and (max-width: 600px) {
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
    }

    .add-user .mat-mdc-dialog-container .mdc-dialog__surface,
    .add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface,
    .edit-channel .mat-mdc-dialog-container .mdc-dialog__surface,
    .add-new-channel .mat-mdc-dialog-container .mdc-dialog__surface {
        position: absolute;
        max-width: 90vw;
        width: 90vw;
        height: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
    }

    .add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface {
        width: 80vw !important;
        border-radius: 30px;
    }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
    .cdk-overlay-connected-position-bounding-box {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    .mat-mdc-menu-panel {
        min-width: 92vw !important;
        height: fit-content !important;
        border-radius: 30px !important;
    }

    .mat-mdc-menu-content {
        min-width: 92vw !important;
    }

    .mat-elevation-z8,
    .mat-mdc-elevation-specific.mat-elevation-z8 {
        box-shadow: 0px 10px 18px 0px rgb(0, 0, 0) !important;
    }

    .user-menu .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 100vw;
        width: 100vw;
        height: 206px;
        top: unset;
        bottom: 0;
        right: 0;
        transform: translate(0%, 0%);
        border-radius: 30px 30px 0 0;
        box-shadow: 6px 0px 10px 0px #00000033;

        .menu-container {
            align-items: flex-start;
            gap: 15px;
            padding-bottom: 30px;
            div:nth-child(1) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            div:nth-child(2),
            div:nth-child(3) {
                height: 50px;
                margin-left: 26px;
                button {
                    padding: 10px 30px !important;
                    img {
                        display: block !important;
                    }
                }
            }
        }
    }

    .add-user .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 100vw;
        width: 100vw;
        height: fit-content;
        top: unset;
        bottom: 0;
        transform: translate(-50%, 0%);
        right: 0;
        border-radius: 30px 30px 0 0;
        box-shadow: 6px 0px 10px 0px #00000033;
    }

    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface,
    .add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 90vw !important;
        width: 90vw !important;
    }

    .add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
    }

    .edit-channel .mat-mdc-dialog-container .mdc-dialog__surface,
    .add-new-channel .mat-mdc-dialog-container .mdc-dialog__surface {
        top: 0 !important;
        transform: translate(-50%, 0%);
        max-width: 100vw;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
}

@media screen and (max-width: 400px) {
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface,
    .add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface {
        max-width: 95vw !important;
        width: 95vw !important;
    }
}

@media screen and (orientation: landscape) and (max-width: 1181px) {
    .add-new-channel .mat-mdc-dialog-container .mdc-dialog__surface,
    .edit-channel .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile-from-message .mat-mdc-dialog-container .mdc-dialog__surface,
    .show-profile .mat-mdc-dialog-container .mdc-dialog__surface,
    .add-user-to-channel .mat-mdc-dialog-container .mdc-dialog__surface,
    .add-user .mat-mdc-dialog-container .mdc-dialog__surface {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px;
    }
}
