$purple1: #444df2;
$purple2: #797ef3;
$purple3: #535af1;
$light-purple: #adb0d9;
$bg-color: #eceefe;
$error: #ed1e79;
$text-gray: #686868;
$white: #ffffff;
$black: #000000;
$green: #92c83e;

@mixin dFlex($jc: flex-start, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
}

@font-face {
    font-display: swap;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/figtree-v5-latin-regular.woff2") format("woff2");
}

/* nunito-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/nunito-v26-latin-regular.woff2") format("woff2");
}

/* nunito-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/nunito-v26-latin-700.woff2") format("woff2");
}

/* open-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/open-sans-v40-latin-regular.woff2") format("woff2");
}

/* open-sans-700 - latin */
@font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/open-sans-v40-latin-700.woff2") format("woff2");
}

* {
    font-family: "Nunito", sans-serif !important;
    caret-color: transparent;
    box-sizing: border-box;
margin: 0;
}

body {
    height: 100vh;
    background-color: $bg-color;
}

mat-card{
    border-radius: 30px;
}
