@import "../../../../styles.scss";

.channel-container {
    position: relative;
    height: 100%;
}

.channel-head-wrapper {
    min-height: 96px;
    @include dFlex($jc: space-between);
    width: 100%;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 2px 10px 0px #00000014;
    padding: 25px 45px 20px 45px;
}

.channel-head-arrow-icon {
    @include dFlex($jc: center);
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/img/icons/channel_arrow_down.svg");

    &:hover {
        background-image: url("/assets/img/icons/channel_arrow_down_hover.svg");
    }
}

.channel-head-tag-icon {
    @include dFlex($jc: center);
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/img/icons/tag.svg");

    &:hover {
        background-image: url("/assets/img/icons/tag_hover.svg");
    }
}

.channel-head {
    @include dFlex($jc: center);
    gap: 10px;
    cursor: pointer;

    > span {
        font-size: 24px;
        font-weight: 700;
        text-wrap: nowrap;
    }

    &:hover {
        .channel-head-tag-icon {
            background-image: url("/assets/img/icons/tag_hover.svg");
        }

        .channel-head-arrow-icon {
            background-image: url("/assets/img/icons/channel_arrow_down_hover.svg");
        }

        > span {
            color: $purple1;
        }

        background-color: $bg-color;
        border-radius: 30px;
    }
}

.active-channel-head {
    .channel-head-tag-icon {
        background-image: url("/assets/img/icons/tag_hover.svg");
    }

    .channel-head-arrow-icon {
        background-image: url("/assets/img/icons/channel_arrow_down_hover.svg");
    }

    > span {
        color: $purple1;
    }

    background-color: $bg-color;
    border-radius: 30px;
}

.channel-head-right {
    @include dFlex($jc: flex-end);
    gap: 10px;
}

.channel-user-icons {
    @include dFlex($jc: center, $ai: center);
    padding: 6px 10px 6px 24px;
    cursor: pointer;

    &:hover {
        background-color: $bg-color;
        border-radius: 30px;

        > span {
            color: $purple1;
        }
    }

    > span {
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid white;
        margin-left: -16px;
    }
}

.overlapping-image {
    padding: 6px 10px 6px 36px;

    > img {
        margin-left: -28px;
    }
}

.add-user-channel-icon {
    height: 40px;
    width: 40px;
    @include dFlex($jc: center);
    background-color: $bg-color;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/assets/img/icons/person_add.svg");

    &:hover {
        background-image: url("/assets/img/icons/person_add_hover.svg");
    }
}

.message {
    position: relative;
    cursor: pointer;
    @include dFlex($jc: center);
    gap: 15px;

    > img {
        width: 50px;
        height: 50px;
        border-radius: 50% 50%;
    }

    > span {
        font: 700 24px "Nunito";

        &:hover {
            color: $purple1;
        }
    }

    .online-indicator {
        position: absolute;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        left: 33px;
        top: 38px;
        border: 2px solid white;
    }
}
.head-newmsg {
    @include dFlex($ai: flex-start);
    flex-direction: column;
    gap: 20px;
    width: 100%;

    span {
        font: 700 24px "Nunito";
    }

    .input-wrapper {
        width: 100%;
        padding: 15px 20px;
        border-radius: 30px;
        border: 1px solid $light-purple;

        input {
            width: 100%;
            height: 25px;
            font: 400 18px "Nunito";
            color: $text-gray;
            outline: none;
            border: none;
            caret-color: black;
        }
    }
}

.button-wrapper {
    @include dFlex($ai: flex-start);
    flex-direction: column;
    gap: 10px;

    .span-head {
        font: 500 18px "Nunito";
    }
}

.user-wrapper {
    @include dFlex();
    gap: 8px;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;

    div {
        @include dFlex($ai: flex-start);
        flex-direction: column;
    }

    &:hover {
        background-color: $bg-color;
    }

    img {
        height: 34px;
        width: 34px;
        border-radius: 50%;
    }

    span {
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 1080px) {
    .channel-head-wrapper {
        padding: 20px 24px;
    }
}

@media screen and (max-width: 768px) {
    .channel-head-wrapper {
        .channel-head {
            gap: 0;
            span {
                font-size: 22px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .channel-head {
        > span {
            font-size: 20px;
            text-wrap: wrap;
        }
    }
    .channel-user-icons {
        width: 0;
        padding: 0;
        img,
        span {
            display: none;
        }
    }
    .add-user-channel-icon {
        margin: 0;
    }
}
