@import "./../../../styles.scss";

.thread-container {
  @include dFlex();
  padding: 32px 30px;
  border-radius: 30px 30px 0 0;
  flex-direction: column;
  box-shadow: 0px 2px 10px 0px #00000014;
}

.thread-head {
  @include dFlex($jc: space-between);
  width: 100%;
}

.thread-head-left-side {
  @include dFlex();
  gap: 5px;

  >span {
    font-size: 24px;
    font-weight: 700;
  }
}

.channel-name {
  @include dFlex($jc: center);
  gap: 5px;
  color: $purple2;
}

.close-icon {
  @include dFlex($jc: center);
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/img/icons/close.svg");

  &:hover {
    background-image: url("/assets/img/icons/close_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }
}

.thread-conversation-container {
  width: 100%;
  @include dFlex();

  flex-direction: column;
}

.single-message-container {
  padding: 20px 32px 10px 40px;
  width: 100%;
  @include dFlex($ai: flex-start);

  &:hover {
    background-color: rgba(red($bg-color), green($bg-color), blue($bg-color), 0.5);

    .message {
      background-color: white;
    }
  }
}

.message-wrapper {
  margin-top: 10px;
  @include dFlex($ai: flex-start);
  flex-direction: column;
  max-width: 278px;
  margin-left: 20px;
}

.profile-picture {
  margin-top: 10px;
  @include dFlex();

  >img {
    border-radius: 50%;
    max-width: 70px;
  }
}

.message-head {
  @include dFlex();
  margin-bottom: 8px;
}

.message-info {
  @include dFlex();
  gap: 20px;

  >span {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: $purple1;
    }
  }

  .message-timestamp {
    font-size: 14px;
    color: $text-gray;
  }
}

.message {
  @include dFlex();
  background-color: $bg-color;
  border-radius: 0px 20px 20px 20px;

  >span {
    padding: 15px;
  }
}

.divider-container {
  padding: 8px 30px 8px 32px;

  @include dFlex($jc: center);
  gap: 20px;
  width: 100%;
  text-wrap: nowrap;

  >span {
    color: $light-purple;
    font-size: 18px;
  }
}

.divider {
  height: 1px;
  background-color: $light-purple;
  width: 100%;
}

.d-none {
  display: none;
}