<div class="thread-container">
  <div class="thread-head">
    <div class="thread-head-left-side">
      <span>Thread</span>
      <div class="channel-name">
        <span>#</span>
        <div>Entwicklerteam</div>
      </div>
    </div>
    <div (click)="closeThread()" class="close-icon "></div>
  </div>
</div>
<div class="thread-conversation-container">
  <div class="single-message-container">
    <div class="profile-picture">
      <img src="/assets/img/profile/testchar1.svg" />
    </div>
    <div class="message-wrapper">
      <div class="message-head">
        <div class="message-info">
          <span> Noah Braun</span>
          <div class="message-timestamp">
            <span>14:25 Uhr</span>
          </div>
        </div>
      </div>
      <div class="message">
        <span> Welche Version von Angular ist aktuell ?</span>
      </div>
    </div>
  </div>
  <div class="divider-container">
    <span>2 Antworten</span>
    <div class="divider"></div>
  </div>
</div>