@import "./../../../styles.scss";

:host {
  --emoji-mart-scroll-height: 150px;
}

.thread-container {
  @include dFlex();
  padding: 32px 30px;
  border-radius: 30px 30px 0 0;
  flex-direction: column;
  box-shadow: 0px 2px 10px 0px #00000014;
}

.thread-head {
  @include dFlex($jc: space-between);
  width: 100%;
}

.thread-head-left-side {
  @include dFlex();
  gap: 5px;

  > span {
    font-size: 24px;
    font-weight: 700;
  }
}

.channel-name {
  @include dFlex($jc: center);
  gap: 5px;
  color: $purple2;
}

.close-icon {
  @include dFlex($jc: center);
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/img/icons/close.svg");

  &:hover {
    background-image: url("/assets/img/icons/close_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }
}

.thread-conversation-container {
  width: 100%;
  height: calc(100% - 338px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  @include dFlex();
  flex-direction: column;
}

.message-complete {
  width: 100%;
  position: relative;
}

.single-message-container {
  padding: 35px 0 35px 45px;
  width: 100%;

  @include dFlex($ai: flex-start);

  &:hover {
    background-color: rgba(red($bg-color), green($bg-color), blue($bg-color), 0.5);

    .message {
      background-color: white;
    }

    .reply-timestamp {
      color: black;
    }

    .interaction-container {
      transform: translateX(0);
      transition: all 75ms ease-in-out;
      visibility: visible;
    }
  }
}

.interaction-container {
  @include dFlex($jc: center);
  visibility: hidden;
  transform: translateX(100%);
  position: absolute;
  right: 43.06px;
  top: -20px;
  height: 46px;
  background-color: white;
  padding: 3px 15px 3px 20px;
  border-radius: 25px 25px 0px 25px;
  border: 1px solid $light-purple;
  transition: all 75ms ease-in-out;
}

.interaction-container-inverted {
  left: 43.06px;
  right: unset;
  border-radius: 25px 25px 25px 0px;
}

.inverted-message {
  flex-direction: row-reverse;
  padding-right: 45px;

  .interaction-container {
    transform: translateX(-100%);
  }

  .message-info {
    flex-direction: row-reverse;
  }

  .message-wrapper {
    align-items: flex-end;
    margin-right: 30px;
  }

  .message {
    border-radius: 20px 0 20px 20px;
    background-color: $purple2;
    color: white;
    overflow-wrap: anywhere;
  }

  &:hover {
    .message {
      background-color: $purple2;
    }
  }
}

.edit-message-icon {
  @include dFlex($jc: center);
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/img/icons/more_vert.svg");

  &:hover {
    background-image: url("/assets/img/icons/more_vert_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }
}

.edit-message-left {
  @include dFlex($jc: center);
  position: absolute;
  left: 77px;
  top: 46px;
  background-color: white;
  border-radius: 0 30px 30px 30px;
  padding: 10px 18px;
  box-shadow: 0px 6px 14px 0px #00000033;
  font-size: 20px;
  font-weight: 500;
  text-wrap: nowrap;

  > span {
    cursor: pointer;

    &:hover {
      background-color: $bg-color;
      color: $purple3;
      padding: 10px 15px 10px 15px;
      border-radius: 30px;
      font-weight: 700;
    }
  }
}

.edit-message-right {
  @include dFlex($jc: center);
  position: absolute;
  right: 149px;
  top: 46px;
  background-color: white;
  border-radius: 30px 0 30px 30px;
  padding: 10px 18px;
  box-shadow: 0px 6px 14px 0px #00000033;
  font-size: 20px;
  font-weight: 500;
  text-wrap: nowrap;

  > span {
    cursor: pointer;

    &:hover {
      background-color: $bg-color;
      color: $purple3;
      padding: 10px 15px 10px 15px;
      border-radius: 30px;
      font-weight: 700;
    }
  }
}

.message-wrapper {
  margin-top: 10px;
  @include dFlex($ai: flex-start);
  flex-direction: column;
  max-width: 278px;
  margin-left: 20px;
}

.profile-picture {
  margin-top: 10px;
  @include dFlex();

  > img {
    border-radius: 50%;
    max-width: 70px;
  }
}

.message-head {
  @include dFlex();
  margin-bottom: 8px;
}

.message-info {
  @include dFlex();
  gap: 20px;

  > span {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;

    &:hover {
      color: $purple1;
    }
  }

  .message-timestamp {
    font-size: 14px;
    color: $text-gray;
  }
}

.message {
  @include dFlex();
  background-color: $bg-color;
  border-radius: 0px 20px 20px 20px;
  white-space: pre-line;
  flex-direction: column;

  > span {
    padding: 15px;
  }
}

.selected-emoji {
  > span {
    position: relative;
    cursor: pointer;
    background-color: white;
    border: 1px solid $light-purple;
    height: 34px;
    min-width: 64px;
    border-radius: 20px;
    padding: 5px 10px;
  }
}

.show-reactions {
  position: absolute;
  z-index: 100;
  bottom: 27px;
  right: 10px;
  width: 169px;
  height: 112px;
  @include dFlex();
  flex-direction: column;
  background-color: $purple1;
  color: white;
  border-radius: 30px 30px 0px 30px;
  padding: 15px 10px 15px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .reaction-user-names {
    font-weight: 700;
    font-size: 16px;
  }
}

.show-reactions-inverted {
  position: absolute;
  z-index: 100;
  bottom: 27px;
  left: 10px;
  width: 169px;
  height: 112px;
  @include dFlex();
  flex-direction: column;
  background-color: $purple1;
  color: white;
  border-radius: 30px 30px 30px 0px;
  padding: 15px 10px 15px 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .reaction-user-names {
    font-weight: 700;
    font-size: 16px;
  }
}

.edit-Message-control {
  @include dFlex($jc: space-between);
  padding: 15px;
  gap: 10px;

  > button {
    font-size: 16px;
    cursor: pointer;
    background-color: $purple1;
    color: white;
    border-radius: 25px;
    padding: 6px 12.5px;
    border: none;

    &:hover {
      background-color: $purple3;
    }
  }
}

.edit-message {
  position: relative;

  > textarea {
    min-width: 156px;
    min-height: 88px;
    height: fit-content;
    color: white;
    background: transparent;
    border: none;
    caret-color: white;
    outline: none;
    padding: 15px;
    resize: none;
  }
}

.edit-message-inverted {
  position: relative;

  > textarea {
    min-width: 156px;
    min-height: 88px;
    height: fit-content;
    color: black;
    background: transparent;
    border: none;
    caret-color: black;
    outline: none;
    padding: 15px;
    text-indent: 5px;
    resize: none;
  }
}

.divider-container {
  padding: 8px 30px 8px 32px;

  @include dFlex($jc: center);
  gap: 20px;
  width: 100%;
  text-wrap: nowrap;

  > span {
    color: $light-purple;
    font-size: 18px;
  }
}

.divider {
  height: 1px;
  background-color: $light-purple;
  width: 100%;
}

.add-reaction-icon {
  @include dFlex($jc: center);
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/img/icons/add_reaction.svg");

  &:hover {
    background-image: url("/assets/img/icons/add_reaction_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }
}

.thread-message-input {
  @include dFlex();
  height: 145px;
  position: absolute;
  bottom: 40px;
  left: 35px;
  right: 35px;
  border: 1px solid $light-purple;
  border-radius: 30px;
  resize: none;
  padding: 20px 0 0 20px;
  font-size: 18px;
  caret-color: black;

  &:focus-visible {
    outline: 1px solid $purple3;
  }

  &:hover {
    border: 1px solid $purple2;
  }

  &::placeholder {
    font-size: 18px;
  }
}

.focus-visible-thread-invalid {
  &:focus-visible {
    outline: 1px solid $error;
  }

  &:hover {
    outline: 1px solid $error;
    border: 1px solid $error;
  }

  border: 1px solid $error;
}

.icon-divider {
  width: 1px;
  background-color: $light-purple;
  height: 40px;
}

.thread-message-icons {
  position: absolute;
  bottom: 60px;
  left: 55px;
  gap: 5px;
  @include dFlex();
}

.add-icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url("/assets/img/icons/add_light.svg");

  &:hover {
    background-image: url("/assets/img/icons/add_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }

  &:active {
    background-image: url("/assets/img/icons/add_bold.svg");
  }
}

.tag-icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url("/assets/img/icons/at_light.svg");

  &:hover {
    background-image: url("/assets/img/icons/at_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }

  &:active {
    background-image: url("/assets/img/icons/at_bold.svg");
  }
}

.emoji-icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url("/assets/img/icons/emoji_icon.svg");

  &:hover {
    background-image: url("/assets/img/icons/emoji_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }

  &:active {
    background-image: url("/assets/img/icons/emoji_bold.svg");
  }
}

.send-icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: url("/assets/img/icons/send.svg");
  position: absolute;
  bottom: 60px;
  left: calc(100% - 85px);

  &:hover {
    background-image: url("/assets/img/icons/send_hover.svg");
  }
}

.error-message {
  position: absolute;
  bottom: 5px;
  left: 35px;
  color: $error;
}

.emoji-container-default {
  position: absolute;
  bottom: 200px;
  left: 67px;
}

.close-icon-upload {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  @include dFlex($jc: center);
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/img/icons/close.svg");
  background-color: white;
  border-radius: 30px;

  &:hover {
    background-image: url("/assets/img/icons/close_hover.svg");
    background-color: $bg-color;
    border-radius: 50%;
  }
}

.file-preview {
  position: absolute;
  bottom: 215px;
  right: 35px;

  > img {
    border: 3px solid $purple2;
    border-radius: 30px;
    max-width: 250px;
    max-height: 250px;
    object-fit: contain;
    box-shadow: -8px 6px 16px 0px #00000054;
  }
}

.tag-user-list {
  width: 250px;
  overflow-y: scroll;
  gap: 8px;
  font-size: 18px;
  max-height: 210px;
  background-color: $purple1;
  color: white;
  padding: 15px;
  border-radius: 30px;
  position: absolute;
  bottom: 210px;
  left: 35px;
  @include dFlex();
  flex-direction: column;
  box-shadow: -8px 6px 16px 0px #00000054;

  .tag-user-selection {
    cursor: pointer;

    &:hover {
      font-weight: 700;
    }
  }
}

.uploaded-file {
  padding: 15px;

  > img {
    max-width: 88px;
    max-height: 88px;
    object-fit: contain;
    border-radius: 30px;
    margin-top: 8px;
    box-shadow: 0px 6px 14px 0px #00000033;
  }

  > a {
    > img {
      max-width: 88px;
      max-height: 88px;
      object-fit: contain;
      border-radius: 30px;
      margin-top: 8px;
      box-shadow: 0px 6px 14px 0px #00000033;
    }
  }
}

@media screen and (max-width: 1600px) {
  .single-message-container {
    padding: 20px 24px !important;
  }

  .profile-picture {
    > img {
      max-width: 50px;
    }
  }

  .message-wrapper {
    margin-left: 16px;
  }

  .inverted-message {
    .message-wrapper {
      margin-right: 16px;
      margin-left: 0;
    }
  }

  .edit-message-left {
    top: 48px;
    left: 0px;
  }

  .edit-message-right {
    top: 48px;
    right: 0px;
  }

  .edit-Message-control {
    padding: 12px;

    > button {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .thread-head-left-side {
    > span {
      font-size: 22px;
    }
  }

  .channel-name {
    font-size: 14px !important;
  }

  .divider-container {
    padding: 0px 24px !important;
  }

  .thread-container {
    padding: 16px 24px !important;
  }
}

@media screen and (max-width: 340px) {
  .edit-Message-control {
    gap: 8px;
    padding: 10px;

    > button {
      font-size: 12px;
    }
  }
}
